In [63]:
import pandas as pd
import numpy as np
import statistics as st
#pd.set_option("display.max_row",None)
loan_train=pd.read_csv("loan-train.csv")
loan_train
loan_train.info()
loan_train.shape
loan_train.isna()
loan_train["Loan_ID"].value_counts()
loan_train["Gender"].value_counts()
loan_train["Gender"].unique()
loan_train["Gender"]
#loan_train["Gender"].mode()

loan_train["Gender"]=loan_train["Gender"].fillna(method="ffill")

loan_train.info()

loan_train["Married"].value_counts()
loan_train["Married"]=loan_train["Married"].fillna(method="ffill")
loan_train.info()

loan_train["Dependents"].value_counts()
loan_train["Dependents"].replace({"3+":3,3:3})
loan_train["Dependents"]=loan_train["Dependents"].fillna(method="ffill")
loan_train.info()
#loan_train["Gender"].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             614 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             614 non-null    object
 2   Married            614 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             614 non-null    object
 2   Married            614 non-null    object
 3   Dependents         614 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

C:\Users\marcella\AppData\Local\Temp\ipykernel_20476\2602948067.py:16: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  loan_train["Gender"]=loan_train["Gender"].fillna(method="ffill")
C:\Users\marcella\AppData\Local\Temp\ipykernel_20476\2602948067.py:21: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  loan_train["Married"]=loan_train["Married"].fillna(method="ffill")
C:\Users\marcella\AppData\Local\Temp\ipykernel_20476\2602948067.py:26: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  loan_train["Dependents"]=loan_train["Dependents"].fillna(method="ffill")

In [157]:
data=pd.read_csv("loan-train.csv")


#checking for missing values
np.sum(data.isna())

#Gender-----------------------------------
#checking the comparison btwn gender and married
data[['Gender','Married']].value_counts()

#checking the rows with na"s
data[data['Gender'].isna()]

#most married gender is male and many females are not
data['Gender']=data['Gender'].fillna('Male')

#transform the data types
data['Gender']=data['Gender'].astype('category')

#Married--------------------
#check the total categories in married column
data['Married'].value_counts()
#check for nas
data[data['Married'].isna()]
data['Married']=data['Married'].fillna('Yes')
#transform datatype
data['Married']=data['Married'].astype('category')

#Dependents----------------------------------
#check relationship btn dependents and marriage
data[['Dependents','Married']].value_counts()
#check for nas\
data[data['Dependents'].isna()]
data['Dependents']=data['Dependents'].fillna(0)
#tranforming the variable
data['Dependents']=data['Dependents'].replace({'3+':3,"3":3})
data['Dependents']=data['Dependents'].astype('category')

#Self Employment--------------------------------
#checking nas
data[data['Self_Employed'].isna()]
data['Self_Employed']=data['Self_Employed'].fillna('No')

#transform the datatype
data['Self_Employed']=data['Self_Employed'].astype('category')

#loan Amount------------------------------
data['LoanAmount'].value_counts()
#checking nas
data[data['LoanAmount'].isna()]
#checking for distribution
#data.hist(column='LoanAmount')#IT IS SKEWED REPLACE nas with median
data.describe()
data['LoanAmount']=data['LoanAmount'].fillna(128)

#Loan_Amount_Term----------------------------------
#checking  nas
data[data['Loan_Amount_Term'].isna()]
#checking for distribution
#data.hist(column='Loan_Amount_Term')#skewed replace with median
data['Loan_Amount_Term']=data['Loan_Amount_Term'].fillna(data['Loan_Amount_Term'].median())

#credit history----------------------------------
#check nas
data[data['Credit_History'].isna()]

#transform
data['Credit_History']=data['Credit_History'].fillna(1)
data['Credit_History']=data['Credit_History'].astype('category')
data[['Education','Loan_Status','Property_Area']]=data[['Education','Loan_Status','Property_Area']].astype('category')
data.info()

#outliers for numerical data--------------------------
#data.boxplot(column='ApplicantIncome')#outliers
#data.hist(column='ApplicantIncome')#outliers:skewed
#normalisation
Normalised_ApplicantIncome=np.log(data['ApplicantIncome'])
data['Normalised_ApplicantIncome']=Normalised_ApplicantIncome

# data.boxplot(column='CoapplicantIncome')#:outliers
# data.hist(column='CoapplicantIncome')#:skewed
normalised_CoapplicantIncome=np.log(data['CoapplicantIncome'])
data['Normalised_CoapplicantIncome']=normalised_CoapplicantIncome
data['Normalised_CoapplicantIncome']=data['Normalised_CoapplicantIncome'].replace({float('-inf'):0})

#data.boxplot(column='LoanAmount')#ouliers
Normalised_LoanAmount=np.log(data['LoanAmount'])
data['Normalised_LoanAmount']=Normalised_LoanAmount

#data.boxplot(column='Loan_Amount_Term')#outliers
Normalised_Loan_Amount_Term=np.log(data['Loan_Amount_Term'])
data['Normalised_Loan_Amount_Term']=Normalised_Loan_Amount_Term

data.to_csv('C:\\Users\\marcella\\Downloads\\loan_train.csv',index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             614 non-null    category
 2   Married            614 non-null    category
 3   Dependents         614 non-null    category
 4   Education          614 non-null    category
 5   Self_Employed      614 non-null    category
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         614 non-null    float64
 9   Loan_Amount_Term   614 non-null    float64
 10  Credit_History     614 non-null    category
 11  Property_Area      614 non-null    category
 12  Loan_Status        614 non-null    category
dtypes: category(8), float64(3), int64(1), object(1)
memory usage: 30.0+ KB

C:\Users\marcella\Documents\PYTHON1\Lib\site-packages\numpy\core\fromnumeric.py:86: FutureWarning: The behavior of DataFrame.sum with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)
C:\Users\marcella\Documents\PYTHON1\Lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [163]:
summary=pd.DataFrame(data.describe())
summary.to_csv('C:\\Users\\marcella\\Downloads\\summary1.csv')
summary

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Normalised_ApplicantIncome,Normalised_CoapplicantIncome,Normalised_LoanAmount,Normalised_Loan_Amount_Term
count,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000
mean,5403.459283,1621.245798,145.752443,342.410423,8.341213,4.289733,4.857250,5.803234
std,6109.041673,2926.248369,84.107233,64.428629,0.645263,3.875680,0.495996,0.312699
min,150.000000,0.000000,9.000000,12.000000,5.010635,0.000000,2.197225,2.484907
25%,2877.500000,0.000000,100.250000,360.000000,7.964677,0.000000,4.607658,5.886104
50%,3812.500000,1188.500000,128.000000,360.000000,8.246040,7.080284,4.852030,5.886104
75%,5795.000000,2297.250000,164.750000,360.000000,8.664750,7.739462,5.104426,5.886104
max,81000.000000,41667.000000,700.000000,480.000000,11.302204,10.637465,6.551080,6.173786